body {
    transition: background-color 10s ease;
    a {
        transition: color 10s ease;
    }
}

.homepage {
    .wrap-article {
        margin-bottom: 100px;
        margin-top: 100px;
    }

    article {
        margin-bottom: 50px;
    }

    .portfolio {
        p {
            margin-bottom: 2.5em;
        }
    }
}

@media (max-width: 500px) {
    .homepage {
        .wrap-article {
            margin-bottom: 50px;
            margin-top: 50px;
        }
    }
}
