$amount: 60%;

$blue: #e6fbfe;
$green: #e1fef0;
$orange: #fef4e1;
$red: #fee2e1;
$purple: #ece1fe;
$yellow: #fef9e1;


.enlighten {
    transition: background-color 10s ease;
    a {
        transition: color 10s ease;
    }

    &.enlighten-blue {
        background-color: $blue;
        a {
            color: darken($blue, $amount);
        }
    }

    &.enlighten-green {
        background-color: $green;
        a {
            color: darken($green, $amount);
        }
    }

    &.enlighten-orange {
        background-color: $orange;
        a {
            color: darken($orange, $amount);
        }
    }

    &.enlighten-red {
        background-color: $red;
        a {
            color: darken($red, $amount);
        }
    }

    &.enlighten-purple {
        background-color: $purple;
        a {
            color: darken($purple, $amount);
        }
    }

    &.enlighten-yellow {
        background-color: $yellow;
        a {
            color: darken($yellow, $amount);
        }
    }
}
