body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
}

h1,
h2,
h3 {
    color: $color-text;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.2;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.2em;
}

p {
    color: $color-text;
    font-size: 1em;
}

a {
    color: $color-link;

    &:hover {
        color: $color-link;
    }
}


@media (max-width: 500px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.2em;
    }
}
